<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        <img src="https://gifdb.com/images/high/megamind-curiously-staring-dgveut6k307heipg.webp" alt="Example GIF">
    </p>
    Now who do you think you are trying to hack my blog?!?!
    <p>
        <a href="/">Button Of Shame</a>
    </p>

    
</body>
</html>